Source: kpmcore
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Team <debian-qt-kde@lists.debian.org>
Build-Depends: cmake,
               debhelper (>= 9),
               extra-cmake-modules,
               kio-dev,
               libatasmart-dev,
               libblkid-dev,
               libkf5i18n-dev,
               libkf5iconthemes-dev,
               libkf5service-dev,
               libparted-dev,
               pkg-config,
               pkg-kde-tools,
               qtbase5-dev
Standards-Version: 3.9.5
Section: libs
Homepage: https://projects.kde.org/kpmcore
Vcs-Git: git://anonscm.debian.org/pkg-kde/kde-extras/kpmcore.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-kde/kde-extras/kpmcore.git

Package: libkpmcore-dev
Section: libdevel
Architecture: any
Depends: kpmcore (= ${binary:Version}), ${misc:Depends}
Description: library for managing partitions -- development headers
 Library for managing partitions, used by the KDE Partition Manager
 and other projects.
 .
 This package contains the development headers provided by the kpmcore
 project.

Package: kpmcore
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: library for managing partitions
 Library for managing partitions, used by the KDE Partition Manager
 and other projects.

Package: kpmcore-dbg
Section: debug
Architecture: any
Depends: kpmcore (= ${binary:Version}), ${misc:Depends}
Description: library for managing partitions -- debugging symbols
 Library for managing partitions, used by the KDE Partition Manager
 and other projects.
 .
 This package contains the debugging symbols provided by the kpmcore
 project.
